.header {
    padding: 20px;
    font-size: 30px;
    background-color: aliceblue;
    /* background-color: rgb(192, 218, 241); */
    
display: grid;
grid-template-areas:
    ' header header header header header'
}
.header a {
    text-decoration: none;
}
.header a:focus, .header a:hover {
    /* color: white; */
    /* background-color: rgb(27, 90, 145) ; */
    padding: 5px;
    /* border-top: 1px solid #91aec5;
    box-shadow: inset 5px 0 0 #90b6de, inset -5px 0 0 #90b6de; */
    box-shadow: inset 0 -5px 0 #90b6de;

}
@media screen and (max-width: 980px) {
    .header {
       padding: 10px;
       font-size: 15px;
    }
}
