 /* .table {
   text-align: right;
  display: grid;

grid-template-areas:
  'm m  m table m m m  '

}  */
.item2 {
  grid-area: aa;
}
.item3 {
  grid-area: ab;
  gap: 10px;
  padding: 10px;
} 
.item4 {
  grid-area: ac;
  height: 30%;
  text-align: center;
} 
.new {
  display: grid;
  gap: 10px;
  padding: 10px; 
  grid-template-areas:
  'aa ab ab ab ab ab ab ab ab ab ab ab ab ab ab . . . . . ac ';
}
/* 'aa ab  .  . . .  . . .  ac '; */
@media screen and (max-width: 1440px) {
  .new {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    grid-template-areas:
    "ab ab ab"  
    "aa aa aa"
    "ac ac ac";
  }
}
@media screen and (max-width: 1024px) {
  .new {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    grid-template-areas:
    "ab ab ab"  
    "aa aa aa"
    "ac ac ac";
  }
}


/* @media screen and (max-width: 980px) {
  .new {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    grid-template-areas:
    "aa  ab ab " 
    "ac ac ac ac";
  }
  .item3{
    width: 650%;
  }
} */
@media screen and (max-width: 768px) {
  .new {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    grid-template-areas:
    "ab ab " 
    "aa aa " 
    "ac ac ";
  }
  .item3{
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .new {
    display: grid;
    grid-template-areas:
    "ab ab ab ab ab"
    "aa"
    "ac";
    gap: 10px;
    padding: 10px;
  }
  .new .item3 {
    text-align: center;
  }
}
 