.item1{  
    padding: auto;
   grid-area: main;    
  }

.grid-container {
    display: grid;
  grid-template-areas:
    'main main main main main main main ';
}
#Map{
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-areas:
    ' main main main main main ';
} 
  .item1 iframe{
    width: 100%;
    height: 500%;
   }
}
@media screen and (max-width: 425px) {

}